.destination {
    background-size: cover;
    background-position: center;
    background-image: url(/assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 45em) {
    .destination {
        background-image: url(/assets/destination/background-destination-desktop.jpg);
    }
}

@media (max-width: 35em) {

}

@media (min-width: 35em) and (max-width: 45em) {
    .destination {
        background-image: url(/assets/destination/background-destination-tablet.jpg);
    }
}