/* import from google font */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

picture,
img {
    max-width: 100%;
}

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

:root {
    /* Colors */
    --clr-dark: 230 35% 7%;
    --clr-accent: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* Fonts Family */
    --ff-belle: 'Bellefair', serif;
    --ff-barlow: 'Barlow', sans-serif;
    --ff-barlow-cond: 'Barlow Condensed', sans-serif;

    /* Fonts Size */
    --fs-150: 150px;
    --fs-100: 100px;
    --fs-56: 56px;
    --fs-32: 32px;
    --fs-28: 28px;
    --fs-18: 18px;
    --fs-16: 16px;
    --fs-14: 14px;
}

/* Utility Classes */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
}

.numbering span {
    font-weight: 700;
    margin-inline-end: 10px;
}

/* Typograhy */
.uppercase {
    text-transform: uppercase;
}


/* Fonts Family Classes */
.ff-belle {
    font-family: var(--ff-belle);
}

.ff-barlow {
    font-family: var(--ff-barlow);
}

.ff-barlow-cond {
    font-family: var(--ff-barlow-cond);
}



/* Fonts Size Classes*/
.fs-150 {
    font-size: var(--fs-150);
}

.fs-100 {
    font-size: var(--fs-100);
}

.fs-56 {
    font-size: var(--fs-56);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-14 {
    font-size: var(--fs-14);
}

/* Color Classes */
.text-dark {
    color: hsl(var(--clr-dark));
}

.text-accent {
    color: hsl(var(--clr-accent));
}

.text-white {
    color: hsl(var(--clr-white));
}

/* Letter Spacing Classes */
.letter-space-1 {
    letter-spacing: 4.75px;
}

.letter-space-2 {
    letter-spacing: 2.7px;
}

.letter-space-3 {
    letter-spacing: 2.35px;
}



/* Interactive Element */

/* Underline-Indicator */
.underline-indicator {
    gap: (--gap, 1rem);
}

.underline-indicator>* {
    cursor: pointer;
    padding: 35px 0;
    border-bottom: 3px solid hsl(var(--clr-white) / 0);
}

.underline-indicator>*>* {
    color: hsl(var(--clr-white));
    text-decoration: none;
    letter-spacing: 2.7px;
}

.underline-indicator>*:hover,
.underline-indicator>*:focus {
    border-color: hsl(var(--clr-white) / .5);
}

.underline-indicator>.active {
    border-color: hsl(var(--clr-white));
}



/* Tabs */
.tab-list {
    gap: 35px;
}



/* Slider */
.slide-one-indicator>* {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: hsl(var(--clr-white) / .17);
}

.slide-one-indicator>*:hover,
.slide-one-indicator>*:focus {
    background: hsl(var(--clr-white) / .5);
}

.slide-one-indicator>.active {
    background: hsl(var(--clr-white));
}

.slide-two-indicator {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.slide-two-indicator>* {
    width: 80px;
    height: 80px;
    color: hsl(var(--clr-white));
    border-radius: 50%;
    border: 1px solid hsl(var(--clr-white) / .25);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slide-two-indicator>*:hover,
.slide-two-indicator>*:focus {
    border-color: hsl(var(--clr-white));
}

.slide-two-indicator>.active {
    background: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
}

/* Landing Page Button */
.large-btn {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-grid;
    place-items: center;
    z-index: 1;
    font-family: var(--ff-belle);
    font-size: var(--fs-32);
    letter-spacing: 2px;
    border: none;
}

.large-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    background: hsl(var(--clr-white) / .1);
    transition: transform 500ms ease-in-out;
}

.large-btn:hover::after,
.large-btn:focus::after {
    transform: scale(1.5);
}

/* NavBar */

/* Header */
.logo {
    width: 48px;
    height: 48px;
}

body>header {
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 0;
}

.mobile-btn {
    display: none;
}

.primary-navigation {
    background: hsl(var(--clr-white) / .1);
    backdrop-filter: blur(2rem);
}


/* Desktop Responsive */
@media (min-width: 45em) {
    body>header {
        padding: 0 0 0 55px;
    }

    .primary-navigation {
        padding-inline-start: clamp(1rem, 8vw, 123px);
        padding-inline-end: 165px;
    }

    header::after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        margin-right: -2.5rem;
        background: hsl(var(--clr-white) / .25);
        order: 2;
    }

    nav {
        order: 3;
    }
}

/* Mobile Responsive */
@media (max-width: 35em) {
    :root {
        --fs-150: 80px;
        --fs-32: 20px;
        --fs-28: 16px;
        --fs-18: 15px;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .mobile-btn {
        display: block;
        position: absolute;
        top: 30px;
        right: 24px;
        width: 24px;
        height: 24px;
        border: none;
        background: transparent;
        background-size: cover;
        background-image: url(../assets/shared/icon-hamburger.svg);
        cursor: pointer;
        z-index: 15;
    }

    .mobile-btn[aria-expanded='true'] {
        background-image: url(../assets/shared/icon-close.svg);
    }

    .primary-navigation {
        z-index: 10;
        position: fixed;
        inset: 0 0 0 30vw;
        flex-direction: column;
        gap: 30px;
        padding: 120px 0 0 32px;
        transform: translateX(100%);
        transition: transform 750ms ease-in-out;
    }

    .primary-navigation[data-visible='true'] {
        transform: translateX(0);
    }

    .primary-navigation>* {
        border: none;
        padding: 0;
    }
}

/* Tablet Responsive */
@media (min-width: 35em) and (max-width: 45em) {
    :root {
        --fs-28: 20px;
        --fs-18: 16px;
        --fs-16: 14px;
    }

    body>header {
        padding: 0 0 0 24px;
    }

    .underline-indicator>*>a>span {
        display: none;
    }

    .primary-navigation {
        padding-inline: 45px
    }
}